.nav{
    /*grid-area: n;*/
    width: 20vw;
    background-color: aquamarine;
    color: #000;
    height: 100%;
    padding: 20px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: blueviolet;
}